<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Mixtress - The best mixes and live sets</title>
    <meta charset="UTF-8" content="text/html" http-equiv="Content-Type" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <meta content="Listen to the hottest long mixes from Soundcloud" name="description" />
    <link href="/stylesheets/styles.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="header">
      <a href="/" alt="mixtress: the best long mixes from soundcloud">
        <span class="welcome">welcome to...</span>
        <h1>Mixtress</h1>
      </a>
    </div>
    <div id="nav">
      <ul class="genres">
        <% @genres.each_with_index do |g, i| %>
          <li data-genre="<%= g %>" class="<%= 'first' if i.zero? %>"><i></i><%= g.capitalize %></li>
        <% end %>
      </ul>
    </div>
    <div id="container"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/scripts/mixtress.js?v=1"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26923526-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      // Only load the tracker if we aren't on localhost
      if(document.location.host.indexOf('localhost') < 0) {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      }
      })();
    </script>
  </body>
</html>
