body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1em;
    width: 1000px;
    margin: 20px auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

#header {
    width: 350px;
    margin: 0 auto;
}

#header h1 {
    font-size: 5em;
    line-height: 0.7em;
    letter-spacing: -2px;
    margin-top: 0px
}

#header span.welcome {
    font-style: italic;
    padding-left: 3px;
}

ul.genres {
    text-align: center;
}

ul.genres li {
    display: inline-block;
    padding: 5px 15px;
    border-right: 1px solid #000;
    margin-left: -4px;
}

ul.genres li.first {
    border-left: 1px solid #000;
}

ul.genres li.selected {
    font-weight: bold;
}

ul.genres li:hover {
    background-color: #efefef;
    cursor: pointer;
}

ul.mixes li {
    padding: 10px 0 20px;
}

#container {
    min-height: 300px;
    padding-bottom: 100px;
}