body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1em;
    width: 1000px;
    margin: 0px auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

#header {
    width: 350px;
    margin: 0 auto;
}

#header a {
    text-decoration: none;
    color: #000;
}

#header h1 {
    font-size: 5em;
    line-height: 0.7em;
    letter-spacing: -2px;
    margin: 0;
    padding: 25px 0;
}

#header h1:hover {
    cursor: pointer;
}

#info {
    text-align: right;
    font-size: 0.8em;
    padding-top: 5px;
}

#info span:hover {
    cursor: pointer;
    text-decoration: underline;
}

ul.genres {
    text-align: center;
}

ul.genres li {
    display: inline-block;
    margin: 5px 0px;
}

ul.genres li.genre a {
    display: inline-block;
    margin: 0px 15px;
    color: #a0a0a0;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
}

ul.genres li.genre a.selected {
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid #000;
}

ul.genres li a:hover {
    border-bottom: 1px solid #a0a0a0;
}

ul.genres li span.separator {
    color: #efefef;
}

ul.mixes li {
    padding: 10px 0 20px;
}

div.loading {
    padding-top: 50px;
    text-align: center;
}

#container {
    min-height: 2006px;
    padding-bottom: 40px;
}

section.pagination {
    padding-bottom: 40px;
}

section.pagination a {
    color: #000;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
}

section.pagination a:hover {
    color: #000;
    border-bottom: 1px solid #a0a0a0;
}

section.pagination a.next {
    float: right;
}

#about h2, #contact h2 {
    margin: 0;
}

#about h2 {
    margin-bottom: 10px;
}

#about div {
    line-height: 1.2em;
    padding-bottom: 5px;
}

#contact form {
    font-size: 1.2em;
}

#contact label {
    display: block;
    padding-top: 7px;
}

#contact input {
    display: block;
    width: 300px;
}

#contact input, #contact textarea {
    border: 2px solid #efefef;
    padding: 3px;
}

#contact input[type=submit] {
    background-color: #efefef;
    border: 2px solid #afafaf;
    width: 120px;
    margin-left: 2px;
}

.hidden {
    display: none;
}

/*
 * SimpleModal Basic Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2010 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: basic.css 257 2010-07-27 23:06:56Z emartin24 $
 */
#basic-modal-content {display:none;}
/* Overlay */
#simplemodal-overlay {background-color:#000;}
/* Container */
#simplemodal-container {height:360px; width:600px; color:#efefef; background-color:#444; border:4px solid #fff; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(/images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}